* {
    box-sizing: border-box;
}

.container {
    max-width: 65vw;
}

.container .week {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

span {
    border: 1px solid black;
}

span.worksweek, span.weekend {
    width: 100%;
    padding: 20px;
    text-align: center;
}

span.monday,
span.tuesday,
span.wednesday,
span.thursday,
span.friday {
    width: 20%;
    padding: 20px;
}

.saturday,
.sunday {
    padding: 20px;
    width: 50%;
}

.container .notes {
    display: flex;
    flex-direction: column;
}

.container .notes span {
    background-color: rebeccapurple;
    height: 50%;
}