body {
    display: flex;
    background-color: aliceblue;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery ul li {
    display: flex;
    padding: 35px 15px;
    margin-bottom: 50px;
    align-items: center;
    border: 7px solid black;
    background-color: white;
}