body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(71, 71, 71);
}

nav {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid yellowgreen;
    border-radius: 10px;
    background-color: black;
}

ul {
    margin: 0;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin-right: 11%;
    margin-top: 5px;
}

ul li a {
    text-decoration: none;
    color: yellowgreen;
    font-size: 24px;
}

ul li a:hover {
    border-bottom: 1px solid rgb(201, 245, 115);
    color: rgb(201, 245, 115);
}

section {
    width: 100%;
    background-color: black;
    color: gray;
    border: 1px solid yellowgreen;
    border-radius: 10px;
}

section p {
    text-indent: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

section h1 {
    display: block;
    text-align: center;
}